:root {


    /* Text */
    --a11ytip-text-size: 1rem;
    --a11ytip-text-color: white;

    /* Box */
    --a11ytip-bg-color: theme(color.base.700, black);
    --a11ytip-padding-left: 8px;
    --a11ytip-padding-right: 8px;
    --a11ytip-padding-top: 4px;
    --a11ytip-padding-bottom: 4px;
    --a11ytip-border-radius: 6px;
    --a11ytip-box-shadow: 0 1px 3px 0 theme(colors.black / 0.25), 0 1px 2px -1px theme(colors.black / 0.1);
    --a11ytip-max-width: 14ch;

    /* Animation */
    --a11ytip-start-position: calc(100% + 4px);
    --a11ytip-end-position: calc(100% + 12px);
    --a11ytip-transition-duration: 350ms;
}

/* src/a11ytip_config.css */

/* Dark Theme */
@media (prefers-color-scheme: dark) {
    :root:not(.light, [data-light], [data-theme="light"]) {
        --a11ytip-text-color: black;
        --a11ytip-bg-color: theme(color.base.100, white);
    }
}

[data-dark],
[data-theme="dark"],
:root.dark {
    --a11ytip-text-color: black;
    --a11ytip-bg-color: theme(color.base.100, white);
}